@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
}

<main>
    <h1>@Model.Name</h1>
    <ul>
        <li>Genre: @Model.Genre.Name</li>
        <li>Release Date: @Model.ReleaseDate.ToString("D")</li>
        <li>Date Added: @Model.AddedDate.ToString("D")</li>
        <li>Number in Stock: @Model.NumberInStock</li>
    </ul>
</main>
